/* nowplaying.css */

/* Header Styles */
.header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
  }
  
  .search-bar button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;  
  }
  
  /* Navigation Styles */
  .navigation {
    background-color: #007bff;
    color: white;
    padding: 10px;
    display: flex;
  }
  
  .navigation ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .navigation li {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .extras {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .extras span {
    margin-right: 10px;
    cursor: pointer;
  }
  